header {
    width: 100%;
    height: 83px;
    background-color:#1c1b17;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;

    .headright{
        width: 47%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        padding-right: 100px;
        padding-top: 30px;
        padding-left: 195px;
        .search-icon{
            display: none;
        }
        .search{
            width: 196px;
            height: 32px;
            border-bottom: 1px solid white;
            & input{
                width: 90%;
                height: 100%;
                background-color:#1c1b17;
                color: white;
                outline: none;
                border: none;
                &::placeholder{
                    color: white;
                }
                }
        }
        .heart-hover{
            display: none;
        }
       .user , .bag , .heart{
        width: 24px;
        height: 24px;
       }
        .user:hover svg{
               
                stroke: #B18165;
        }   
        .bag:hover svg{
           
            stroke: #B18165;

    }  
    .heart:hover{
        .heart-default{display: none;}
    
    } 
    .heart:hover{
        .heart-hover{display: block;}
    
    } 
        

    
       
    }
    .headlogo{
        width: 10%;
        height: 78px;
    }
    .headleft{
        width: 45%;
        height: 100%;
        display: flex;
        gap: 40px;
        
        padding-left: 100px;
        padding-top: 29px;
        & ul{
            width: 80%;
            height: 100%;
            list-style: none;
            display: flex;
            gap: 40px;
            & li{
                color:white;
                font-size: 18px;
                font-weight: 400;
            }
        }
        .burger{
            display: none;
        }
        .search{
            display: none;
        }


    }
    
}