footer{
    width: 100%;
    height: 756px;
    padding: 20px  40px 12px 40px;
    background-color: black;
    position: relative;
    .footer-top{
        width: 100%;
        height: 560px;
        
      
        .info{
            width: 100%;
            height: 400px;
            display: flex;
            row-gap: 48px;
            column-gap: 48px;
            justify-content: space-between;
            padding: 48px;
            position: absolute;
            top: 154px;
            left: 0;
            flex-flow: row wrap;
            
    
            .servises{
                width: calc(50% - 72px);
                height: 158px;
                display: flex;
                flex-direction: column;
                row-gap: 12px;
                & p{
                    font-size: 13px;
                    font-weight: 500;
                    font-family: mont;
                    color: #B8B8B8;
                }
                .info-title{
                    color: white;
                    font-size: 14px;
                    font-weight: 700px;
                    font-family: cormorant;
                }
            }

        }
        .footer-social{
            width: 210px;
            height: 134px;
            position: absolute;
            top: 20px;
            left: calc(50% - 105px);
            .logo{
                width: 100%;
                height: 108px;
                & img{
                    object-fit: cover;
                }
            }
            .icons{
                margin-top: 12px;
                width: 100%;
                height: 20px;
                display: flex;
                justify-content: space-around;
            }

        }


    }
    .footer-bot{
        width: 90%;
        height: 28px;
        border-top: 1px solid #626262;   
        margin: 32px auto;
        padding-top: 24px;
        
        & p{
            color:#626262;
            font-size: 13px;
            font-weight: 500;

        }
        
    }
   
}