header {
    width: 100%;
    height: 120px;
    background-color:#1c1b17;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    .headright{
        width: 30%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        margin-right: 60px;
        padding-top: 40px;
        padding-left: 60px;
        .search-icon{
            display: none;
        }
        & svg{
            width: 32px !important;
            height: 32px !important;
        }
        .search{
           display: none;
        }
        .heart-hover{
            display: none;
        }
       .user , .bag , .heart{
        width: 32px;
        height: 32px;
       }
        .user:hover svg{
               
                stroke: #B18165;
        }   
        .bag:hover svg{
           
            stroke: #B18165;

    }  
    .heart:hover{
        .heart-default{display: none;}
    
    } 
    .heart:hover{
        .heart-hover{display: block;}
    
    } 
    }
    .headlogo{
        width: 20%;
        height: 116px;
        display: flex;
        justify-content: center;

    }
    .headleft{
        width: 40%;
        height: 100%;
        display: flex;
        gap: 32px;
        padding-left: 60px;
        padding-top: 40px;
        & ul{
           display: none;
            }
        .location{
            display: none;
        }  
        .search{
            width: 47%;
            height: 37px;
            border-bottom: 1px solid white;
            display: flex;
            & svg{
                width: 30px !important;
                height: 30px !important;
            }
            & input{
                width: 90%;
                height: 100%;
                background-color:#1c1b17;
                color: white;
                outline: none;
                border: none;
                &::placeholder{
                    color: white;
                    font-size: 20px;
                    font-weight: 400;
                }
                }
        }  
        }


    } 
    
